html,
body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    line-height: 2em;
    scroll-behavior: smooth;
}



//--------------------------------------------
//Navbar section
//--------------------------------------------
.page-wrapper {
    width: 100%;
    height: auto;
}

.nav-wrapper {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
}

.grad-bar {
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: gradbar 15s ease infinite;
    -moz-animation: gradbar 15s ease infinite;
    animation: gradbar 15s ease infinite;
}

.navbar {
    display: grid;
    grid-template-columns: 3fr 3fr;
    align-items: center;
    height: 50px;
    overflow: hidden;
    background-color: #E7E9EB;
    padding-bottom: 20px;

    img {
        height: 40px;
        width: auto;
        justify-self: start;
        margin-left: 20px;
    }

    ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(4, 2fr);
        justify-self: flex-end;
    }
}

.nav-item {
    a {
        color: #000;
        font-size: 0.9rem;
        font-weight: 400;
        text-decoration: none;
        transition: color 0.3s ease-out;

        &:hover {
            color: #3498db;
        }
    }
}

/* KEYFRAME ANIMATIONS */
@-webkit-keyframes gradbar {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes gradbar {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradbar {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Media Queries */
/* Mobile Devices - Phones/Tablets */
/* MOBILE HEADINGS */
/* MOBILE NAVIGATION */
.menu-toggle {
    .bar {
        width: 25px;
        height: 3px;
        background-color: #3f3f3f;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    justify-self: end;
    margin-right: 25px;
    display: none;

    &:hover {
        cursor: pointer;
    }
}

#mobile-menu.is-active {
    .bar {
        &:nth-child(2) {
            opacity: 0;
        }

        &:nth-child(1) {
            -webkit-transform: translateY(8px) rotate(45deg);
            -ms-transform: translateY(8px) rotate(45deg);
            -o-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
        }

        &:nth-child(3) {
            -webkit-transform: translateY(-8px) rotate(-45deg);
            -ms-transform: translateY(-8px) rotate(-45deg);
            -o-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
        }
    }
}

@media only screen and (max-width: 720px) {
    .features {
        flex-direction: column;
        padding: 50px;
    }

    h1 {
        font-size: 1.9rem;
    }

    h2 {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
    }

    .navbar {
        ul {
            display: flex;
            flex-direction: column;
            position: fixed;
            justify-content: start;
            top: 55px;
            background-color: #fff;
            width: 100%;
            height: calc(100vh - 55px);
            transform: translate(-101%);
            text-align: center;
            overflow: hidden;
        }

        li {
            padding: 15px;

            &:first-child {
                margin-top: 50px;
            }

            a {
                font-size: 1rem;
            }
        }
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
    }

    .bar {
        display: block;
        cursor: pointer;
    }

    .mobile-nav {
        transform: translate(0%) !important;
    }
}

//--------------------------------------------
//Home section
//--------------------------------------------

#header {
    background: url("../images/avatar.jpg") repeat scroll center center / cover;
    height: 100vh;
    width: 100%;

    .header-content {
        height: 100vh;
        text-align: left;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 10rem;

        h1 {
            font-size: 40px;
            font-weight: 700;
            margin-bottom: 10px;
            text-transform: uppercase;
            color: #fff;
        }

        p {
            font-size: 20px;
            letter-spacing: 5px;
            margin-top: 0;
            margin-bottom: 30px;
            text-transform: capitalize;
            color: #fff;
            font-weight: 500;
        }

        .list-social {
            li {
                float: left;
                margin-right: 20px;

                i {
                    color: #fff;
                    font-size: 15px;
                }
            }
        }
    }
}

//==============About================================

#about {
    width: 80%;
    margin: auto;
    display: grid;
    justify-content: space-around;
    grid-template-columns: auto auto auto;
    /*Make the grid smaller than the container*/
    gap: 1rem;
    padding: 1rem;
    height: 100vh;

    .con_left {
        background-color: #23D5AB;

        background-image: url("http://uyenuong.net/wp-content/uploads/2022/05/nen-chill2B2528202529.jpg");

        .con_content {
            height: 100vh;

            text-align: left;
            padding: 0;
            color: white;
            backdrop-filter: blur(5px);

            ul {
                list-style-type: none;

                li {
                    margin-bottom: 50px;
                    font-size: 25px;
                }
            }

        }
    }

    .con_middle {
        color: white;
        background-image: url("https://www.redhat.com/sysadmin/sites/default/files/styles/full/public/2020-07/code-2434271_1280%20Cropped.jpg?itok=6q3NFCUr");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;


        .con_content2 {
            height: 100vh;
            backdrop-filter: blur(8px);

            .col {}

        }
    }

    .con_right {
        color: white;
        background-image: url("https://www.redhat.com/sysadmin/sites/default/files/styles/full/public/2020-07/code-2434271_1280%20Cropped.jpg?itok=6q3NFCUr");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-left: 500px;
    }
}

.contact {
    height: 100vh;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: #E7E9EB;
    color: black;
    font-weight: 600;
}